.icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	fill: currentColor;
}
.icon-arboles {
	/*fill: #000000;*/
	width: 46px;
}
.icon-cerros {
	/*fill: #000000;*/
	width: 135px;
}
.icon-edificio1 {
	/*fill: #000000;*/
	width: 34px;
}
.icon-edificio2 {
	/*fill: #000000;*/
	width: 78px;
}
.icon-edificio3 {
	/*fill: #000000;*/
	width: 34px;
}
.icon-edificio4 {
	/*fill: #000000;*/
	width: 10px;
}
.icon-edificio5 {
	/*fill: #000000;*/
	width: 36px;
}
.icon-edificio6 {
	/*fill: #000000;*/
	width: 22px;
}
.icon-edificio7 {
	/*fill: #000000;*/
	width: 10px;
}
.icon-edificio8 {
	/*fill: #000000;*/
	width: 11px;
}
.icon-edificio9 {
	/*fill: #000000;*/
	width: 27px;
}
.icon-edificio10 {
	/*fill: #000000;*/
	width: 16px;
}
.icon-hoja1 {
	/*fill: #000000;*/
	width: 43px;
}
.icon-hoja2 {
	/*fill: #000000;*/
	width: 31px;
}
.icon-m1 {
	/*fill: #000000;*/
	width: 41px;
}
.icon-m2 {
	/*fill: #000000;*/
}
.icon-m3 {
	/*fill: #000000;*/
}
.icon-m4 {
	/*fill: #000000;*/
}
.icon-molino {
	/*fill: #000000;*/
}
.icon-nubegrande {
	/*fill: #000000;*/
}
.icon-nube {
	/*fill: #000000;*/
}
