/*To iframes*/
.toiframe {
	padding-bottom: 56.25%;
	position: relative;
	text-align: left;
	z-index: 1;
}
.toiframe iframe ,
.toiframe object {
	position: absolute;
	width: 100%;
	height: 100%;
}

/*Genral Control Clone*/
.general-control-clone{
	width: 100%;
}
.general-control-clone .control-clone{
	/*padding-bottom: 25px;*/
	margin-bottom: 25px;
}
.general-control-clone .control-clone{
	position: relative;
}
	.general-control-clone .control-clone .textoayuda{
		position: absolute;
		top: 65px;
		left: 20px;
	}
	.general-control-clone .control-clone .textoayuda.textarea{
		position: absolute;
		top: inherit;
		bottom: inherit;
		left: 20px;
		padding-top: 5px;
	}
.general-control-clone .control-clone span.correcto,
.general-control-clone .control-clone span.incorrecto{
	position: relative;
	padding-left: 25px;
	font-style: italic;
	font-weight: normal;
	text-align: left;
}
.general-control-clone .control-clone span.incorrecto{
	color: #fff;
}
.general-control-clone .control-clone span.correcto{
	color: #fff;
}
.control-clone input+label.error{display: none !important;}
.control-clone textarea+label.error{display: none !important;}
.control-clone span.incorrecto,
.control-clone span.correcto{
  display: none;
}
.control-clone.error span.incorrecto{
  /*display: block !important;*/
  display: none !important;
}
.control-clone.error span.correcto{
  display: none !important;
}
.control-clone.success span.correcto{
  display: block !important;
}
.control-clone.success span.incorrecto{
  display: none !important;
}
.control-clone.success span.correcto .txt-cloned{
  font-style: normal;
  padding: 0 4px;
  text-transform: lowercase;
  color: #E2E2E2;
  font-style: italic;
  font-weight: bold;
}
.control-clone span.correcto:after,
.control-clone span.incorrecto:after{
	content: '';
	display: inline-block;	
	background: url('../../../imagenes/privado/complementos/sprite.png');
	margin-right: 13px;
	position: absolute;	
	left: 0px;
	background-repeat: no-repeat;		
}
.control-clone span.incorrecto:after{
	top: -1px;
}
.control-clone span.correcto:after{
	top: 1px;
}
	.control-clone span.incorrecto:after{
		background-position: -229px -80px;
		width: 19px;
		height: 16px;
	}
	.control-clone span.correcto:after{
		background-position: -261px -82px;
		width: 12px;
		height: 14px;
	}	

/*Error Focus {input & textarea}*/
.error input.myinput:focus{
	background: #F89A94;
	color: #fff;
}
.error textarea.mytextarea:focus{
	background: #F89A94;
	color: #fff;
}
/*General Focus {input & textarea}*/
input.myinput:focus{
	background: #fff;
}
textarea.mytextarea:focus{
	background: #fff;
}
/*Error Styles {Input & Textarea} */
.error input.myinput{
	background: #F89A94;
	color: #fff;
}
.error textarea.mytextarea{
	background: #F89A94;
	color: #fff;
}

/*General Styles {Input & Textarea} */
input.myinput:disabled{
	background: rgba(213, 213, 213, 1);
}
input.myinput{
	width: 100%;
	margin: 0;
	border:none;	
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	-ms-transition: background .3s ease-in-out;
	-o-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
textarea.mytextarea{	
	resize: none;
	width: 100%;
	margin: 0;
	border:none;	
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	-ms-transition: background .3s ease-in-out;
	-o-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
/*General Placeholder {input & textarea}*/
input.myinput::-webkit-input-placeholder {
	color: #8d8d8d;
	text-decoration: none;	
}
input.myinput:-moz-input-placeholder {
	color: #8d8d8d;
	text-decoration: none;	
}
input.myinput:-ms-input-placeholder {
	color: #8d8d8d;
	text-decoration: none;	
}
input.myinput:-o-input-placeholder {
	color: #8d8d8d;
	text-decoration: none;	
}
textarea.mytextarea::-webkit-input-placeholder {
	color: #8d8d8d;
	text-decoration: none;	
}
textarea.mytextarea:-moz-input-placeholder {
	color: #8d8d8d;
	text-decoration: none;	
}
textarea.mytextarea:-ms-input-placeholder {
	color: #8d8d8d;
	text-decoration: none;	
}
textarea.mytextarea:-o-input-placeholder {
	color: #8d8d8d;
	text-decoration: none;	
}
/*Error Placeholder {input & textarea}*/
.error input.myinput::-webkit-input-placeholder {
	color: #fff !important;	
}
.error input.myinput:-moz-input-placeholder {
	color: #fff !important;	
}
.error input.myinput:-ms-input-placeholder {
	color: #fff !important;	
}
.error input.myinput:-o-input-placeholder {
	color: #fff !important;	
}
.error textarea.mytextarea::-webkit-input-placeholder {
	color: #fff !important;	
}
.error textarea.mytextarea:-moz-input-placeholder {
	color: #fff !important;	
}
.error textarea.mytextarea:-ms-input-placeholder {
	color: #fff !important;	
}
.error textarea.mytextarea:-o-input-placeholder {
	color: #fff !important;	
}

/*My Input Style #1*/
.success input.style1,
input.style1{
	padding: 15px;	
	color: #8d8d8d;
	text-align: left;
	font: 18px helveticaLt;		
	border: 1px solid #1d7fa7;
    background-color: #fff;
    color: #148dbf;   
    overflow: visible;
    border-radius: 6px;
    -webkit-box-shadow:inset 0px 2px 0 #E4E4E4;
    -moz-box-shadow:inset 0px 2px 0 #E4E4E4;
    -ms-box-shadow:inset 0px 2px 0 #E4E4E4;
    -o-box-shadow:inset 0px 2px 0 #E4E4E4;
    box-shadow:inset 0px 2px 0 #E4E4E4;
}
	input.style1:focus{
		-webkit-box-shadow:0px 0px 5px #1d7fa7;
	    -moz-box-shadow:0px 0px 5px #1d7fa7;
	    -ms-box-shadow:0px 0px 5px #1d7fa7;
	    -o-box-shadow:0px 0px 5px #1d7fa7;
	    box-shadow:0px 0px 5px #1d7fa7;
	}

/*My Input Style #2*/
.success select.style2,
.success input.style2,
select.style2,
input.style2{
	padding: 15px;	
	color: #8d8d8d;
	text-align: left;
	font: 18px helveticaLt;		
	width: 100%;
	border-top: 3px solid #ddd;	
	border-radius: 3px;
}
	.success input.style2:focus,
	input.style2:focus{
		-webkit-box-shadow: 0 0 5px #ddd;
		-moz-box-shadow: 0 0 5px #ddd;
		-o-box-shadow: 0 0 5px #ddd;
		-ms-box-shadow: 0 0 5px #ddd;
	}

/*My Textarea Style #1*/
.success textarea.style1,
textarea.style1{
	height: 120px;
	width: 100%;
	padding: 15px;	
	color: #8d8d8d;
	text-align: left;
	font: 18px helveticaLt;		
	border: 1px solid #1d7fa7;
    background-color: #fff;
    color: #148dbf;   
    overflow: visible;
    border-radius: 6px;
    -webkit-box-shadow:inset 0px 2px 0 #E4E4E4;
    -moz-box-shadow:inset 0px 2px 0 #E4E4E4;
    -ms-box-shadow:inset 0px 2px 0 #E4E4E4;
    -o-box-shadow:inset 0px 2px 0 #E4E4E4;
    box-shadow:inset 0px 2px 0 #E4E4E4;
}
	.success textarea.style1:focus,
	textarea.style1:focus{
		-webkit-box-shadow:0px 0px 5px #1d7fa7;
	    -moz-box-shadow:0px 0px 5px #1d7fa7;
	    -ms-box-shadow:0px 0px 5px #1d7fa7;
	    -o-box-shadow:0px 0px 5px #1d7fa7;
	    box-shadow:0px 0px 5px #1d7fa7;
	}

/*============================================*/
/*[Error] - Style 1*/
/*Textarea & Input & Select */
.error textarea.style1,
.error select.style1,
.error input.style1{
	border: 1px solid #F89A94;
	-webkit-box-shadow:inset 0px 2px 0 #F89A94;
    -moz-box-shadow:inset 0px 2px 0 #F89A94;
    -ms-box-shadow:inset 0px 2px 0 #F89A94;
    -o-box-shadow:inset 0px 2px 0 #F89A94;
    box-shadow:inset 0px 2px 0 #F89A94;
}
	.error select.style1:focus,
	.error input.style1:focus,
	.error textarea.style1:focus{
		-webkit-box-shadow: 0 0 5px #F89A94;
		-moz-box-shadow: 0 0 5px #F89A94;
		-o-box-shadow: 0 0 5px #F89A94;
		-ms-box-shadow: 0 0 5px #F89A94;
		box-shadow: 0 0 5px #F89A94;
	}
	


/*================My Buttons======================*/
.mybut:hover{
	color: #fff;
}
.mybut{
	font-family: helveticaLt;
	position: relative;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	border: none;
	-webkit-transition: -webkit-box-shadow .4s ease-in, -webkit-box-shadow .8s ease-out;
	-moz-transition: -moz-box-shadow .4s ease-in, -moz-box-shadow .8s ease-out;
	-ms-transition: -ms-box-shadow .4s ease-in, -ms-box-shadow .8s ease-out;
	-o-transition: -o-box-shadow .4s ease-in, -o-box-shadow .8s ease-out;
	transition: box-shadow .4s ease-in, box-shadow .8s ease-out;
}
.mybut i:before{
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.mybut:hover i:before{color: #fff}

.mybut.ingresar:disabled{
	background: rgba(68, 68, 68, 0.75) !important;
	color: #ddd; !important;
}
/*My buts*/
.mybut.but-style1{background: #2EC4E4;color: #fff;text-align: center;padding: 10px 20px;font-size: 20px;border-radius: 6px;border-bottom: 3px solid #0a5a84;}
.mybut.but-style2{background: #ed9845;color: #fff;text-align: center;padding: 10px 20px;font-size: 20px;border-radius: 6px;border-bottom: 3px solid #736a36;}

.mybut.but-style1 i{color: #a1edfd}
.mybut.but-style2 i{color: #b96c21}

.mybut.but-style2.spacing,
.mybut.but-style1.spacing{padding: 18px 45px;font-size: 23px}

.mybut.but-style1:hover{-webkit-box-shadow: inset 0 -100px 0 #1d7fa7; -moz-box-shadow: inset 0 -100px 0 #1d7fa7;-o-box-shadow: inset 0 -100px 0 #1d7fa7;-ms-box-shadow: inset 0 -100px 0 #1d7fa7;box-shadow: inset 0 -100px 0 #1d7fa7;}
.mybut.but-style2:hover{-webkit-box-shadow: inset 0 -100px 0 #D6791E; -moz-box-shadow: inset 0 -100px 0 #D6791E;-o-box-shadow: inset 0 -100px 0 #D6791E;-ms-box-shadow: inset 0 -100px 0 #D6791E;box-shadow: inset 0 -100px 0 #D6791E;}



/*Input Type[Checkbox]*/
.content-check{	
	display: table;
}	
	.content-check label{
		cursor: pointer;
	}
	.content-check>div{
		display: table-cell;
		vertical-align: middle;
		padding-right: 1px;		
	}
	.content-check>div:first-child{
		width: 30px;
	}
	.content-check>div:last-child{
		font:19px helveticaLt;
		color: #5b5b5b;
		cursor: pointer;
		width: auto;	
		padding-left: 10px;
	}
	.content-check>div a:hover{
		text-decoration: underline;
	}
	.content-check>div a{
		display: inline-table;
		font:19px helveticaLt;
		color: #5b5b5b;
	}
	input[type=checkbox].check {
		display: none;
		-webkit-transition: all 0s ease-in-out;
		-moz-transition: all 0s ease-in-out;
		-o-transition: all 0s ease-in-out;
		transition: all 0s ease-in-out;	
	}	
	input[type=checkbox].check + label {
		cursor: pointer !important;
		float: left !important;
		display: inline-block !important;
		box-shadow: none;
		-webkit-transition: all 0s ease-in-out;
		-moz-transition: all 0s ease-in-out;
		-o-transition: all 0s ease-in-out;
		transition: all 0s ease-in-out;	
		background: #fff; 
		display: inline-block; 		
		text-indent: -1000em;
	}
	input[type=checkbox].check + label {
		background: url('../../../imagenes/privado/complementos/sprite.png') -9px -173px;
		width: 36px;
		height: 36px;
		background-repeat: no-repeat;
	}
	input[type=checkbox].check:checked + label { 
		background: url('../../../imagenes/privado/complementos/sprite.png') -9px -222px no-repeat;
	}

	input[type=checkbox].check.check2 + label {
		width: 23px !important;
		height: 20px !important;
		background: url('../../../imagenes/privado/complementos/sprite.png') -389px -42px no-repeat !important;
	}
	input[type=checkbox].check.check2:checked + label { 
		background: url('../../../imagenes/privado/complementos/sprite.png') -389px -68px no-repeat !important;
	}

/*Input type Radio*/
.content-radio{	
	display: table;
}	
	.content-radio label{
		cursor: pointer;
	}
	.content-radio>div{
		display: table-cell;
		vertical-align: middle;
		padding-right: 1px;		
	}
	.content-radio>div:first-child{
		width: 30px;
	}
	.content-radio>div:last-child{
		font:19px helveticaLt;
		color: #5b5b5b;
		cursor: pointer;
		width: auto;	
		padding-left: 10px;
	}
	.content-radio>div a:hover{
		text-decoration: underline;
	}
	.content-radio>div a{
		display: inline-table;
		font:19px helveticaLt;
		color: #5b5b5b;
	}
	input[type=radio].radio {
		display: none;
		-webkit-transition: all 0s ease-in-out;
		-moz-transition: all 0s ease-in-out;
		-o-transition: all 0s ease-in-out;
		transition: all 0s ease-in-out;	
	}
	input[type=radio].radio + label { 
		/*added*/
		cursor: pointer !important;
		float: left !important;
		display: inline-block !important;
		/*end added*/
		box-shadow: none;
		-webkit-transition: all 0s ease-in-out;
		-moz-transition: all 0s ease-in-out;
		-o-transition: all 0s ease-in-out;
		transition: all 0s ease-in-out;	
		background: #fff; 
		display: inline-block;
		background-repeat: no-repeat;
		background: url(../../../imagenes/privado/complementos/sprite.png) -17px -313px;
		width: 20px;
		height: 20px;
		text-indent: -1000em;
	}
	input[type=radio].radio:checked + label { 
		background-repeat: no-repeat;
		background: url(../../../imagenes/privado/complementos/sprite.png)  -17px -280px;
	}


/*Listas*/
ul.mylist-0{
	list-style: none;
}
	ul.mylist-0 li{
		position: relative;
		padding-left: 15px;
		font: 17px helveticaLt;
		color: #666666;
		margin-bottom: 5px;
	}
	ul.mylist-0 li:before{
		content: '';
		background: url("../../../imagenes/privado/complementos/sprite.png") -16px -794px no-repeat;
		width: 4px;
		height: 5px;
		position: absolute;
		top: 8px;
		left: 0;
	}
	ul.mylist-0 li>span{
		color: #653a8f; 
	}

ul.mylist-1{
	list-style: none;
}	
	ul.mylist-1 li{
		position: relative;
		padding-left: 15px;
		margin-bottom: 5px;		
	}
	ul.mylist-1 li:before{
		-moz-transition: all .3s ease-in;
		-ms-transition: all .3s ease-in;
		-webkit-transition: all .3s ease-in;
		-o-transition: all .3s ease-in;
		transition: all .3s ease-in;
	}		
	ul.mylist-1 li:hover:before{		
		width: 10px;
		height: 10px;
		background: #5d7913;	
	}
	ul.mylist-1 li:before{
		content: '';
		position: absolute;
		top: 13px;
		left: 0;
		width: 7px;
		height: 7px;
		background: #818d13;
		border-radius: 50%;	
	}
	

/*Paginador*/
.paginator{
	width: 100%;
	display: block;
	margin: 10px auto;
	padding: 10px 0;
	/*border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;*/
}
	.paginator ul{
		text-align: left;
		max-width: 400px;
		display: table;		
	}
		.paginator ul li a:hover,
		.paginator ul li a.active{			
			color: #e25829;
			/*background: #e25829;*/
		}
		.paginator ul li{
			display: table-cell;
			vertical-align: middle;
			padding-right: 3px
		}			
			.paginator ul li a.other{
				width: auto !important;
				/*background: transparent !important;*/
			}
			.paginator ul li a{
				padding: 0 2px;
				display: table-cell;
				vertical-align: middle;
				width: 30px;
				height: 30px;
				-webkit-transition: background .1s ease-in-out;
				-moz-transition: background .1s ease-in-out;
				-ms-transition: background .1s ease-in-out;
				-o-transition: background .1s ease-in-out;
				transition: background .1s ease-in-out;
				border-radius: 4px;		
				color: #868686;
				font-style: italic;
				text-align: center;				
				font: 15px verdana;
				/*background: #e0e0e0;*/				
			}

/*Text limited(read more)*/
.text-limited p{opacity: 0}


.text-limited .text-hidden{
	display: none;
}

.btn-text-limited{
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	margin-top: 1px;
	cursor: pointer;
	display: inline-block;
	width: auto;
	/*padding: 5px 10px;*/
	text-align: center;
}
.btn-text-limited{
	color: #2EC4E4;
	font: 18px helveticaLt;
	margin-top: 5px;
	text-align: right;
	float: right;
	border-bottom: 1px solid #2EC4E4;
}
.btn-text-limited:hover{
	border-bottom: 1px solid #1d7fa7;
	color: #1d7fa7;
}


/*Select 2 bootstrap validate*/
	/*[Select]*/
		/*Success*/
		.select2-container-multi .select2-choices .select2-search-field input{
			color: #A0A0A0;
			font: 18px helveticaLt;
		}
		.select2-container .select2-choice{
			color: #A0A0A0;
			font: 18px helveticaLt;
		}
		.select2-container-multi .select2-choices{
			width: 100%;
			color: #8d8d8d;
			text-align: left;
			font: 18px helveticaLt;
			border: 1px solid #1d7fa7;
			background-color: #fff;
			color: #148dbf;
			overflow: visible;
			border-radius: 6px;
			-webkit-box-shadow: inset 0px 2px 0 #E4E4E4;
			-moz-box-shadow: inset 0px 2px 0 #E4E4E4;
			-ms-box-shadow: inset 0px 2px 0 #E4E4E4;
			-o-box-shadow: inset 0px 2px 0 #E4E4E4;
			box-shadow: inset 0px 2px 0 #E4E4E4;
		    height: 50px;
		}
		/*Error*/
		.error a.select2-choice {
			background: #F89A94 !important;
			color: #fff !important;
			border: 1px solid #F89A94 !important;
			-webkit-box-shadow: inset 0px 2px 0 #F89A94 !important;
			-moz-box-shadow: inset 0px 2px 0 #F89A94 !important;
			-ms-box-shadow: inset 0px 2px 0 #F89A94 !important;
			-o-box-shadow: inset 0px 2px 0 #F89A94 !important;
			box-shadow: inset 0px 2px 0 #F89A94 !important;
		}

	/*[Multi Tags]*/
		/*Error*/
		.error .select2-default{
			color: #fff !important;		
		}	
		.error .select2-container-multi .select2-choices {
		    background: #F89A94 !important;	    
		    border: 1px solid #F89A94 !important;
			-webkit-box-shadow: inset 0px 2px 0 #F89A94 !important;
			-moz-box-shadow: inset 0px 2px 0 #F89A94 !important;
			-ms-box-shadow: inset 0px 2px 0 #F89A94 !important;
			-o-box-shadow: inset 0px 2px 0 #F89A94 !important;
			box-shadow: inset 0px 2px 0 #F89A94 !important;
		}


/*Richtext*/
.richtext {
    font-size: 17px;
    font-family: "helveticaLt";
    color: #444;
    line-height: 23px;
    width:100% !important;
    max-width:800px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:0 10px;
} 
.richtext p{
    font-size: 17px;
    font-family: "helveticaLt";
    color: #444;
    line-height: 23px;
    text-align: justify;
    margin-bottom: 1.3em;
} 
.richtext ul, .richtext ol{
    padding-left: 19px;
}
.richtext ol ul li,
.richtext ul li{
    margin-bottom: 1em;
    list-style: disc;
} 
.richtext ol li{
    margin-bottom: 1.3em;
    list-style: decimal;    
    
} 
.richtext h1{
   font-size: 41px;
   margin-bottom: 13px;

}
.richtext h2{
  font-size: 31px; 
  margin-bottom: 13px;
}
.richtext h3{
   font-size: 21px;
   margin-bottom: 13px;
}
.richtext h4{
   font-size: 18px;
   margin-bottom: 13px;
}
.richtext em{
   font-style: italic; 
}
.richtext strong{
   font-weight: bold;
   color: #000;
}
.richtext a{
   color:#FF9B1D; 
}
.richtext a:hover{
   color:#FF2A2A;
   text-decoration: underline;
}
.richtext .justifyright{
    text-align: right;
}
/* end Richtext */


@media only screen and (max-width: 992px){
	.mybut{display: block;width: 100%;padding: 15px 10px !important}
}