@font-face {
	font-family: 'fontawesome';
	src:url('../../fuentes/fontawesome/fontawesome.eot');
	src:url('../../fuentes/fontawesome/fontawesome.eot') format('embedded-opentype'),
		url('../../fuentes/fontawesome/fontawesome.woff') format('woff'),
		url('../../fuentes/fontawesome/fontawesome.ttf') format('truetype'),
		url('../../fuentes/fontawesome/fontawesome.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'icomoon';
	src:url('../../fuentes/icomoon/icomoon.eot?-j3ni0p');
	src:url('../../fuentes/icomoon/icomoon.eot?#iefix-j3ni0p') format('embedded-opentype'),
		url('../../fuentes/icomoon/icomoon.woff?-j3ni0p') format('woff'),
		url('../../fuentes/icomoon/icomoon.ttf?-j3ni0p') format('truetype'),
		url('../../fuentes/icomoon/icomoon.svg?-j3ni0p#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: "helveticaBd";
	src: url('../../fuentes/helvetica/Bd/HelveticaNeueLTStd-Bd.eot') format('eot'),
	url('../../fuentes/helvetica/Bd/HelveticaNeueLTStd-Bd.woff') format('woff'),
	url('../../fuentes/helvetica/Bd/HelveticaNeueLTStd-Bd.ttf') format('truetype'),
	url('../../fuentes/helvetica/Bd/HelveticaNeueLTStd-Bd.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: "helveticaLt";
	src: url('../../fuentes/helvetica/Lt/HelveticaNeueLTStd-Lt.eot') format('eot'),
	url('../../fuentes/helvetica/Lt/HelveticaNeueLTStd-Lt.woff') format('woff'),
	url('../../fuentes/helvetica/Lt/HelveticaNeueLTStd-Lt.ttf') format('truetype'),
	url('../../fuentes/helvetica/Lt/HelveticaNeueLTStd-Lt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}